.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.auth-box{
    border-style: solid;
    border-top-color: #003366;
    border-left-color: whitesmoke;
    border-right-color: whitesmoke;
    border-bottom-color: whitesmoke;
    border-top-width: 4px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    box-shadow:rgba(0,0,0,0.75) 0 1px 2px;
    background-color: white;
}

.auth-box h3 {
    color: #003366;
}

.auth-box .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,127,255, 0.25);
    border-color: #0059b3;

}

.error-state .form-control{
    border-color: red;
}

.error-state .form-control:focus{
    border-color: red;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(207, 0, 15, 0.25);
}

.error-text {
    margin-top: 0 !important;
    margin-bottom: 2px;
    color: red;
}

.auth-box .form-text {
    font-size: 14px !important;
}