.extraBig {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
}

.lightNav {
    background-color: white;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.container{
    margin-right: auto;
    text-align: left;
}

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.issueBtn{
    width: 130px;
    float: right;
}

.circle-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 50%;
}

.option-txt {
    text-align: center;
    color: black;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.card-border {
    border-radius: 10px;
    color: black;
}

.black {
    color: black;
}

.card-border:hover {
    background-color: rgba(240,248,255,1);
    box-shadow: 0 4px 8px 0 rgba(0, 100, 191, 0.2), 0 6px 20px 0 rgba(0, 100, 191, 0.19);
}

.form-space{
    height:90px;
}

.ready-space{
    height:100px;
}

.displayVC {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 15px;
    height: 850px;
    font-size: 14px;
}

.float-right {
    float: right;
}

.bootstrap-box{
    border-radius: 5px;
    color: #495056 !important;
    width: 100%;
    outline: none;
    padding: 0 10px;
    height: 38px;
    font-size: 16px;
    border: 1px solid #CCCCCC
}

.bootstrap-box:focus{
    box-shadow: blue !important;
}

.white {
    color: white;
}

.times-new-roman-font{
    font-family: "Times New Roman";
}

#header-top-bar{
    background-color: #023266;
    height: 5px;
}

#header-middle-bar{
    background-color: #F2F2F2;
    color: #606060;
    font-family: source_sans_pro_regular,"Source Sans Pro",Arial,sans-serif;
    font-size: 14px;
    border: #E2E2E2;
}

#header-break-line{
    margin-top: 10px;
    margin-bottom: 0px;
}

.darkblue{
    color: #023266!important;
}

#navbar-brand{
    font-weight: bold !important;
    font-family: source_sans_pro_bold,"Source Sans Pro Bold",Arial,sans-serif !important;
    font-size: 30px !important;
}

.arial-font{
    font-family: source_sans_pro_bold,"Source Sans Pro Bold",Arial,sans-serif !important;
}

#verifier-welcome-btn{
    border-radius: 30px;
    background-color: dodgerblue;
    border-color: dodgerblue;
    min-width: 320px;
    min-height: 50px;
}

#verifier-welcome-space {
    height: 20vh;
}

.full-screen{
    min-height: calc(100vh - 6.1vw);
    background-color: aliceblue;
    background-image: url("../assets/verifier-background-square.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-login-btn {
    background-color: transparent !important;
    border-color: transparent !important;
}

.header-login-btn:hover{
    color: grey !important;
}

.header-login-btn:focus {
    box-shadow: none !important;
    color: grey !important;
}

#profile-picture{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    padding: 3px;
    float: right;
}

.dropdown .btn-primary{
    padding: 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
}
.dropdown .btn-primary:focus{
    box-shadow: none !important;
}

.dropdown-toggle-btn{
    background-color: black !important;
}

.dropdown {
    float: right !important;
}