.light-grey-background{
    height: calc(100vh - 6vw);
    background-color: #F2F2F2;
    background-image: url("../assets/grey-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 0;
    margin: 0;
}

.extra-padding{
    padding: 100px 0 0;
}

.verifier-box{
    border-style: solid;
    border-top-color: #003366;
    border-left-color: whitesmoke;
    border-right-color: whitesmoke;
    border-bottom-color: whitesmoke;
    border-top-width: 4px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    box-shadow:rgba(0,0,0,0.75) 0 1px 2px;
    background-color: white;
}

.verifier-box-2 {
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    box-shadow:rgba(0,0,0,0.75) 0 1px 1px;
    background-color: white;
}

.verifier-box h5{
    color: #003366;
}

.verifier-box p{
    color: dimgrey;
    font-size: 15px;
}

#verifier-box-second-row{
    margin-left: 1px;
    margin-right: 1px;
}

.wallet-icon{
    font-size: 5rem;
    display:block;
    margin-left: auto;
    margin-right: auto;
    color: #003366;
}

.light-blue-banner{
    background-color: #CBE0EB;
    width: 100%;
    height: 28%;
    margin-left: 0;
}

.light-blue-banner h4{
    color: #003366;
}

.light-btn{
    background-color: white !important;
    border-color: white !important;
    color: #003366 !important;
    border-radius: 1px !important;
    padding: 10px 18px !important;
    min-width: 200px;
    min-height: 45px;
    box-shadow: rgba(0,0,0,0.75) 0 1px 2px;
    transition: 0.4s !important;
}

.light-btn:hover{
    background-color: #003366 !important;
    border-color: #003366 !important;
    color: white !important;
    border-radius: 1px;
    padding: 10px 18px !important;
    min-width: 200px;
    min-height: 45px;
    box-shadow: rgba(0,0,0,0.75) 0 1px 2px;
}

.light-btn:focus{
    box-shadow: none !important;
}

.dark-blue {
    color: #003366;
}

.move-right{
    float:right;
}

.extra-bottom{
    padding-bottom: 90px !important;
}

.verified-status{
    background-color: green !important;
    border: green !important;
}

.not-verified-status{
    background-color: red !important;
    border-color: red !important;
}

.montserrat-fonts{
    font-family: 'Montserrat';
}

#job-title-input{
    padding-right: 0!important;
}

#job-location-input{
    padding-left: 0!important;
    padding-right: 0!important;
}

#job-search{
    padding-left: 0!important;
}

#job-search a{
    color: gray;
    cursor: pointer;
}

#job-filter h6{
    font-weight: bold;
    margin-bottom: 10px;
}

.ui.inline.dropdown>.text{
    font-weight: normal!important;
}

.salary-list span{
    color: gray;
    float:right;
}

.salary-list a{
    color: black !important;
}

.salary-list a:hover{
    text-decoration: underline !important;
}

.salary-list p{
    color: dodgerblue;
}

.expand-more{
    color: darkblue;
    cursor: pointer;
}

#board h2{
    font-weight: bold;
    color: #003366;
}

.ui.items>.item .meta{
    margin: 0 0;
}

.ui.items>.item>.content>.description{
    margin: 0 0;
    font-size:13px;
}

.bold-h2{
    font-weight: bold;
    color: #003366;
}

.dropdown-btn{
    min-width: 130px !important;
}

.dropdown-header{
    margin-left: 30px !important;
    font-weight: bold !important;
    font-size: 14px !important;
}

