.extraBig {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.lightJumbo {
    background-color: aliceblue;
}

.darkblue {
    background-color: #213189;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.container{
    margin-right: auto;
    text-align: left;
}

.issuer{
    text-align: center;
}

.issueBtn{
    width: 100px;
}