.extraBig {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.lightJumbo {
    background-color: aliceblue !important;
    margin-bottom: 0px !important;
    padding: 46px 28px!important;
}

.darkblue {
    background-color: #002F5D;
}

.darkblue-icon{
    color: #002F5D;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.issueBtn{
    width: 100px;
    float: right;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.card-border {
    border-radius: 10px;
    color: black;
}

.black {
    color: black;
}

.card-border:hover {
    background-color: rgba(240,248,255,1);
    box-shadow: 0 4px 8px 0 rgba(0, 100, 191, 0.2), 0 6px 20px 0 rgba(0, 100, 191, 0.19);
}

.form-space{
    height:90px;
}

.ready-space{
    height:100px;
}

.displayVC {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 15px;
    height: 850px;
    font-size: 14px;
}

.float-right {
    float: right;
}

.bootstrap-box{
    border-radius: 5px;
    color: #495056 !important;
    width: 100%;
    outline: none;
    padding: 0 10px;
    height: 38px;
    font-size: 16px;
    border: 1px solid #CCCCCC
}

.bootstrap-box:focus{
    box-shadow: blue !important;
}

.white {
    color: white;
}

.navbar{
    margin-top: 0 !important;
    top: 5px !important;
    padding: 1.5px !important;
}

.small-font{
    font-size: 10px;
    color: #023D6F;
    text-align: left;
}

.times-new-roman-font{
    font-family: "Times New Roman";
}

.cursive{
    color: white;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    font-family: 'Pinyon Script';
    font-size: 140px;
    text-align: center;
}

.font-light{
    font-family: "Source Sans Pro", sans-serif;
    color: #444444;
}

.font-darker{
    color: black;
}

.home-h1{
    font-size: 26px;
    line-height: 36px;
}

.lg-icon{
    height: 40px;
    width: 40px;
}

.jumbotron{
    margin:0px !important;
}

#home-btn{
    font: 400 13.3333px Arial;
    font-size: 16px;
    background-color: #006699;
    height: 40px;
    border-color: #006699;
    border-radius: 0px;
}

#sk-logo{
    display:block;

}

.nav-signup{
    background-color: white !important;
    color: black !important;
    border-radius: 4px;
}

.nav-login{
    color: white !important;
}

.form-h2{
    color: #006699;
    font-family: ProximaNovaSemibold, "Arial Bold", "Arial Black", Arial;
    line-height: 1.875rem;
}

.expand-form-info{
    max-width: 40%;
    height: auto;
}

.expand-form-signup{
    max-width: 35%;
    height: auto;
}

.shadow{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14)
}

.dark-background {
    height: calc(100vh - 98px);
    width: 100%;
    background-color: #F8F8F8;
}

.align-left{
    text-align: left;
}

.section-a{
    height: 100%;
    border-right-color: blue !important;
}

#section-b{
}

#verifier-welcome{
    display:flex;
}

.signup-form h4{
    font-weight: 400 !important;
}

.signup-form {
    padding-bottom: 7rem !important;
}

.signup-form label{
    margin-bottom: 0.2rem !important;
}

.txt-left{
    text-align: left;
}

.signup-form h3 {
    font-weight: bold;
    color: #006699;

}

#signup label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0.4rem !important;
}

#signup .form-control {
    border-radius: 0.1rem !important;
}

#signup a {
    color: #006699;
    font-size: 12px;
    font-weight: bold;
}

#login label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0.4rem !important;
}

#login .form-control {
    border-radius: 0.1rem !important;
}

.montserrat-fonts{
    font-family: 'Montserrat';
}

.signup-btn {
    background-color: #006699 !important;
    border-radius: 0 !important;
}

.error-state .form-control{
    border-color: red;
}

.error-state .form-control:focus{
    border-color: red;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(207, 0, 15, 0.25);
}

.error-text {
    margin-top: 0 !important;
    margin-bottom: 2px;
    color: red;
}

.header-login-btn {
    background-color: transparent !important;
    border-color: transparent !important;
}

.header-login-btn:hover{
    color: grey !important;
}

.header-login-btn:focus {
    box-shadow: none !important;
    color: grey !important;
}

#profile-picture{
    border-radius: 50%;
    width: 30%;
    height: 30%;
    border: 1px solid gray;
    padding: 5px;
}


